@model test_front_page.Models.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/HomeStyle/assets/img/icons/logo.svg">
    <title>Azersun Admin Giriş</title>

    <!-- page css -->
    <link href="~/Content/AdminStyle/dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/AdminStyle/dist/css/style.min.css" rel="stylesheet">

</head>

<body class="skin-default card-no-border">
    <section id="wrapper">
        <div class="login-register" style="background-image:url(../../Content/AdminStyle/assets/images/background/login-register.jpg)">
            <div class="login-box card">
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Security", FormMethod.Post, new { @class = "form-horizontal form-material", id = "loginform" }))
                    {

                        <h3 class="text-center m-b-20">Giriş Yap</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" name="UserName" type="text" required="" placeholder="Kullanıcı Adı">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" name="Password" type="password" required="" placeholder="Şifre">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="d-flex no-block align-items-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Beni Hatırla</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Giriş</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/AdminStyle/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/AdminStyle/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/Content/AdminStyle/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>

</body>

</html>