.navbar-collapse {
    .dropdown-menu { overflow: hidden; z-index: 2; border-radius: 0px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
         background-color: #ffffff; border: none; @include menu; min-width: 0; padding: 5px 0px; width: 100%; 
         border-radius: 10px; 
         
        @include mobile-display { position: absolute; left: -100%; top: 0px; 
            border-top-left-radius: 10px;   
        }
        .dropdown-item { width: 100%; text-align: center; font-family: $regular; color: #595959; font-size: 16px; cursor: pointer; padding: 10px 0; 
            @include mobile-display { text-align: center; display: block; }

            @include mobile-l { font-size: 15px; }

            &:hover { background-color: #1c129d;
                @extend %transition3; color: #fff; }

            &:last-child { margin-bottom: 0px; }
        }
    }
    
    .lang-downs { position: relative; cursor: pointer; 
        &:hover {
            .dropdown-menu { display: block; }
        }

        >.dropdown-menu { width: 100%; 

            .dropdown-item { overflow-wrap: anywhere; white-space: inherit; }
        }
    }
}


section { @include padding(80px 0 130px); }